<div class="row">
    <div class="column"  style="width:50%">
<h1>India’s Beloved</h1>
<h1><b>Bike Service</b></h1><br>
<h3>We are not an option, we are a choices</h3>
<h5>We're #1 choice of 10 Million people because we're the solution of India's intra-city commuting problems. With assured safety, we also provide economically priced rides.
</h5><br>
<h2>What makes us different?</h2>
<h5>Our bike taxis can dodge the traffic during peak hours and get you to the destination in a jiffy! So when you think travel, think Bounce.
</h5><br>
<h2>Champions of our success story</h2>
<h5>Bounce has come a long way ever since its inception in 2015. With a lot of hardwork and perseverance we have made a place for ourselves in the market. As a brand and as a service, it is our constant endeavour to redefine ourselves.</h5>
</div>
<div class="column" style="width:50%">
<img src="assets/image5.png">
</div>
</div>
<div class="row">
    <div class="column" style="width:50%">
        <img src="assets/scooter.svg" style="width:90%">
        </div>
    <div class="column" style="width:50%">
      <h4>How It Works</h4>  
       <ul>
        <h5>1. Select & walk to nearest scooter</h5>
        <h5>2. Tap "Start Ride" to Bounce</h5>
        <h5>3. Stop in any legal parking area to end ride</h5>
    </ul> 
    </div>
    
</div>

<div class="row" style="align-items: center;padding-top:2% ;">
    <div class="column" style="width:33%;padding-right:3.3%;align-items: center;">
        <h5 style="padding-left: 30%;">Locate</h5>
        <img src="assets/image4.png" style="width:70%" >
    </div>
    <div class="column" style="width:33%;padding-right:3.3%;align-items: center;">
        <h5 style="padding-left: 30%;">Ride</h5>
       
        <img src="assets/image3.png" style="width:70%" >
    </div>
    <div class="column" style="width:33%;padding-right:3.3%">
        <h5 style="padding-left: 15%;">Authenticate</h5>
        <img src="assets/imgauthenticate.png" style="width:70%" >
    </div>
</div>