<div class="row">
    <div class="column">
        <div class="card mr-4" style="width: 21rem;background-color: white;border:2px solid black">
            <h5 class="card-title" style="text-align: center;">Bounce-Infinity</h5>
            <img class="card-img-top" src="assets/bounceinfinity.png" style="width: 87%;" >
            <div class="card-body">            
              <p class="card-text">The Bounce Infinity E1 electric scooter has been launched in India. It is the Bengaluru-based ride-sharing startup’s first electric offering in the country, priced at Rs 68,999 (for the variant with the battery pack) and Rs 45,099 (for the one without). Both prices, ex-showroom Delhi. 
                  It is also the first e-scooter in India to be sold with and without the battery pack. The latter comes with a paid subscription scheme, wherein you’ll have to pay to swap the battery from one the company’s upcoming swapping network. More details in our launch report.
               </div>
          </div>
          </div>
          <div class="column">
          <div class="card mr-4" style="width: 21rem;border:2px solid black">
            <h5 class="card-title" style="text-align: center;">Bounce-Glider</h5>
            <img class="card-img-top" src="assets/glider.jpg" style="width: 75.8%;" >
            <div class="card-body">            
              <p class="card-text">The award-winning design, quality materials and durable construction make the high bounce an excellent scooter for small children that like to have big rides. .
                The lean-to-steer mechanism is the best way for kids to learn balance and sustanability  in the most safe way.
                The 3-wheels 2 front & 1 back and  stability of the scooter so that even the youngest children can learn to ride.
                The high bounce has a practical design of a scooter, with two front 4. 7 inches (12cm) pu wheels, wide rear 3. 5 pu wheel, strong ribbed deck made of top quality.
                </p>
            </div>
          </div>
        </div>
        <div class="column">

          <div class="card  mr-4" style="width: 21rem;border:2px solid black">
            <h5 class="card-title" style="text-align: center;">Bounce-Share</h5>
            <img class="card-img-top" src="assets/share.jpg" style="width: 55%;" >
            <div class="card-body">            
              <p class="card-text">Bounce is India's first smart mobility solution, with a mission of making daily commute stress-free, time-saving, reliable and convenient. 

                Here's how easy it is to bounce : Book a ride on the app, Pick up the bike, Enter the OTP, Ride to the destination and move on!
                
                With a breakthrough technology that lets users access the bike with just an OTP, our state-of-the-art Keyless bikes, have not only done away with keys, but the whole process of renting a bike has just become devoid of any physical or human intervention.</p>
            </div>
          </div>
        </div>
    
    </div>