<div class="row">
    <div class="column" style="width:50%;">

        <form>
           <div class="row"> <div class="column" style="width:20%"><h5>Name:</h5></div> <div class="column" style="width:70%"><input type="text"></div></div><br>
           <div class="row"> <div class="column" style="width:20%"><h5>Email:</h5></div> <div class="column" style="width:70%"><input type="email"></div></div><br>
           <div class="row"> <div class="column" style="width:20%"><h5>Phone Number:</h5></div> <div class="column" style="width:70%"><input type="number"></div></div>
        </form>
        <div class="row">
            <div class="column" style="padding-top: 5%;">
                <h6>For any queries email at support@bounce.com or</h6>
                <h6>you can contact us by calling toll free number 1800 600 800</h6>
                <google-plus></google-plus>
    </div>
        </div>
    </div>
    <div class="column" style="width:50%;border:1px solid black">
      <div class="row">
          <div class="column" style="width:70%;padding-left: 5%;"> <h4>Address</h4>
        <h6>#1705, 2nd Floor,<br> East End A Main Road <br>Jayanagar 9th Block <br>Bengaluru<br>Karnataka <br>(IN)560069<br>India</h6>
    </div>
    <div class="column" style="width:30%">
        <h6 >Founder</h6>
    <img src="assets/founder.jpg" style="width:40%"><br>
    <h6>Vivekananda</h6>
</div>
    </div>
    <div class="row">
        <div class="column" style="width:70%;padding-left: 5%;">
            <h4>Head quaters</h4>
            <h6>Roppen Transportation Services Pvt Ltd,<br> #148, 1st Floor,<br> SLV Nilaya,<br> 5th Main 80ft road,<br> HSR Layout 7th Sector,<br> Bangalore 560102.</h6>
        </div>
        <div class="column" style="width:30%">
            <h6 >Co-Founder</h6>
        <img src="assets/founder2.jpg" style="width:40%"><br>
    <h6>Anil</h6>

    </div>
    </div>
    
</div>
</div>