<!-- <div class="a">
<h1>Simple, accessible</h1>
<h1>scooter rides for all</h1>
</div> -->
<div class="container">
    <img src="assets\img6.PNG" style="width:100%;">
    <div class="top-left"><b>Pickup and drop in all legal parking <br> areas. Bounce anywhere, anytime.</b></div>
    <div class="top-left-2"><h1><b>Your scooter,<br> Everywhere.</b></h1></div>
</div>
<div class="ab"></div>
<div class=" ab2">
   <div class="a" style="text-align:center;color: white;padding-bottom: 1.5%"><h1>Everyday Commute Made Easy<br></h1>
</div> 
<div class="a" style="text-align:center;color: white;padding-bottom: 3%;"><h6>Daily, Weekly, Monthly, Annualy-We've <br> Got Plans For All Your Needs<br> </h6>
</div>
<div class="row"> <div class="card mr-5" style="width:29%;background-color: white;border-radius: 20px;">
    <div class="card-title"><h1>Rentals</h1></div>
    <img src="assets\rentals.png" style="height:282px">
    <div class="card-body">
        <h6 class="card-text">Price starting at Rs 6/km</h6>
      </div></div> 
    <div class="card mr-5" style="width:29%;background-color: white;border-radius: 20px;">
    <div class="card-title"><h1>Subscriptions</h1></div>
    <img src="assets\subs.svg" >
        <div class="card-body">
            <h6 class="card-text">Price starting at Rs 6/km</h6>
          </div></div>
   <div class="card " style="width:30%;background-color: white;border-radius: 20px;"> 
    <div class="card-title"><h1>Daily Rides</h1></div>
    <img src="assets\dailyride.png" >
    <div class="card-body">
        <h6 class="card-text">Price starting at Rs 6/km</h6>
      </div></div></div>
</div>